[Desktop Entry]
Type=Service
Name=Video Files (ffmpegthumbs)
Name[bg]=Видео-файлове (миниатюри ffmpeg)
Name[ca]=Fitxers de vídeo (ffmpegthumbs)
Name[ca@valencia]=Fitxers de vídeo (ffmpegthumbs)
Name[cs]=Soubory videa (ffmpegthumbs)
Name[da]=Videofiler (ffmpegthumbs)
Name[de]=Videodateien (ffmpegthumbs)
Name[en_GB]=Video Files (ffmpegthumbs)
Name[es]=Archivos de vídeo (ffmpegthumbs)
Name[et]=Videofailid (ffmpegthumbs)
Name[fr]=Fichiers vidéo (ffmpegthumbs)
Name[is]=Vídeóskrár (ffmpegthumbs)
Name[kk]=Видео файлдар (ffmpegthumbs)
Name[km]=ឯកសារ​វីដេអូ (ffmpegthumbs)
Name[nb]=Videofiler (ffmpegthumbs)
Name[nds]=Videodateien (ffmpeg-Vöransichten)
Name[nl]=Videobestanden (ffmpeg-miniaturen)
Name[pt]=Ficheiros de Vídeo (ffmpegthumbs)
Name[pt_BR]=Arquivos de vídeo (ffmpegthumbs)
Name[ru]=Видеофайлы (ffmpegthumbs)
Name[sv]=Videofiler (ffmpeg miniatyrbilder)
Name[th]=แฟ้มวีดิโอ (ffmpegthumbs)
Name[tr]=Video Dosyaları (ffmpegthumbs)
Name[uk]=Файли відео (ffmpegthumbs)
Name[x-test]=xxVideo Files (ffmpegthumbs)xx
Name[zh_CN]=视频文件(ffmpegthumbs)
Name[zh_TW]=影像檔 (ffmpegthumbs)
X-KDE-ServiceTypes=ThumbCreator
MimeType=video/*;application/x-flash-video;application/vnd.ms-asf;application/vnd.rn-realmedia;
X-KDE-Library=ffmpegthumbs
ServiceTypes=ThumbCreator
CacheThumbnail=true
ThumbnailerVersion=2
IgnoreMaximumSize=true
