[Desktop Entry]
Type=Service
Name=Video Files (ffmpegthumbs)
Name[bg]=Видео файлове (ffmpegthumbs)
Name[ca]=Fitxers de vídeo (ffmpegthumbs)
Name[cs]=Soubory videa (ffmpegthumbs)
Name[da]=Videofiler (ffmpegthumbs)
Name[de]=Videodateien (ffmpegthumbs)
Name[el]=Αρχεία βίντεο (ffmpegthumbs)
Name[es]=Archivos de vídeo (ffmpegthumbs)
Name[et]=Videofailid (ffmpegthumbs)
Name[fi]=Videotiedostot (ffmpegthumbs)
Name[fr]=Fichiers vidéo (ffmpegthumbs)
Name[ga]=Comhaid Fhíse (ffmpegthumbs)
Name[gl]=Ficheiros de vídeo (ffmpegthumbs)
Name[hu]=Videofájlok (ffmpegthumbs)
Name[it]=File video (ffmpegthumbs)
Name[kk]=Видео файлдар (ffmpegthumbs)
Name[km]=ឯកសារ​វីដេអូ (ffmpegthumbs)
Name[lt]=Video failai (ffmpegthumbs)
Name[nb]=Videofiler (ffmpegthumbs)
Name[nds]=Videodateien (ffmpeg-Vöransichten)
Name[nl]=Videobestanden (ffmpeg-miniaturen)
Name[pa]=ਵਿਡੀਓ ਫਾਇਲਾਂ (ffmpegthumbs)
Name[pl]=Pliki filmów (ffmpegthumbs)
Name[pt]=Ficheiros de Vídeo (ffmpegthumbs)
Name[pt_BR]=Arquivos de vídeo (ffmpegthumbs)
Name[ru]=Видеофайлы (ffmpegthumbs)
Name[sk]=Video súbory (ffmpegthumbs)
Name[sl]=Datoteke z videom (ffmpegthumbs)
Name[sr]=Видео фајлови (сличице ФФмпегом)
Name[sr@ijekavian]=Видео фајлови (сличице ФФмпегом)
Name[sr@ijekavianlatin]=Video fajlovi (sličice FFmpegom)
Name[sr@latin]=Video fajlovi (sličice FFmpegom)
Name[sv]=Videofiler (ffmpeg miniatyrbilder)
Name[tr]=Video Dosyaları (ffmpegthumbs)
Name[uk]=Файли відео (ffmpegthumbs)
Name[x-test]=xxVideo Files (ffmpegthumbs)xx
Name[zh_CN]=视频文件(ffmpegthumbs)
Name[zh_TW]=影像檔 (ffmpegthumbs)
X-KDE-ServiceTypes=ThumbCreator
MimeType=video/*;application/x-flash-video;application/vnd.ms-asf;application/vnd.rn-realmedia;
X-KDE-Library=ffmpegthumbs
ServiceTypes=ThumbCreator
CacheThumbnail=true
ThumbnailerVersion=2
IgnoreMaximumSize=true
